*{
    margin: 0%;
    padding: 0%;
}

.content{
    position: relative;
    ul.parent{
        display: flex;
        justify-content: flex-end;
        background-color: rgb(230, 243, 243);
        li{
            position: absolute;
            padding: 5px;
            list-style: none;
            transform: translate(-50%,-50%);
            &:hover ul{
                display: block;
            }
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            &:hover{
                color: blue;
            }
        }
    }
    img{
        width: 100%;
        height: 80vh;
    }
}

.container{
    .products{
        flex-wrap: wrap;
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin: 10%;
        gap: 20px;
        li{
            img{
                height: 40vh;
                width: 50vh;
                border-radius: 5%;
            }
            p{
                line-height: 25px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
}

.footer {
    position: relative; 
    text-align: center;
    line-height: 10px;

    img {
        width: 100%;
        height: 70vh;
        border-radius: 20px;
        display: block;
    }

    h2 {
        position: absolute;
        top: 20%;
        left: 70%;
        color: white;
        font-size: 2rem;
        padding: 10px 20px;
    }
    p{
        position: absolute;
        top: 28%;
        left: 70%;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        line-height: 15px;
    }
    button{
        position: absolute;
        top: 50%;
        left: 70%; 
        padding: 10px;
        border-radius: 20px;
        border-color: none;
        width: 120px;
        background-color: bisque;
    }
    input{
        position: absolute;
        top: 40%;
        left: 70%;  
        padding: 10px;
        border-radius: 20px;
        border-color: none;
        width: 300px;
        background-color: white;
    }
    h3{
        color: white;
        position: absolute;
        top: 45%;
        left: 35%;
    }
    h5{
        color: white;
        position: absolute;
        top: 50%;
        left: 35%;  
        line-height: 15px;
    }
}
